.donation-section{
display: flex;
justify-content: center;
align-items: center;
}
.donation{
    display: flex;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    justify-content:space-around ;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-block:50px;

    background-image:url(https://themewagon.github.io/charityworks/assets/img/gallery/section_bg02.png);
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    background-position:center center ;
}
.donation p {
    font-size:1.2rem ;
    font-weight: 500;
}
@media screen and (max-width:991px) {
    .donation{
    font-size: 1.5rem;

    }
    .donation p {
        font-size: 1rem;
 
    }
    
}