.gallery-main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery-section {
    margin-block: 100px;
    width: 100%;
    max-width: 62rem;
}


@media screen and (max-width:768px) {
  .gallery-section {
    padding-block: 50px;
    padding-inline: 30px;
  }
  }